<li class='list-group-item'>
	{{ item.name}}
	
	{% if !showForm %}
		<a  class='btn btn-danger pull-right' href='/products/edit'>Edit</a>
  {% else %}
		<form style='display:inline' method='POST' action='/products/{{ item.id }}?_method=PUT'>
      <label for="text_field">Edit Product:</label>
      <input name="content" class='form-control' type="text" id="text_field" value='{{ item.name }}' style="width: 350px;" />
      <button class='btn btn-primary' type="submit">Save</button>
      <a  class='btn btn-default' href='/products'>Cancel</a>
    </form>
		<form style='display:inline' method='POST' action='/products/{{ item.id }}?_method=DELETE'>
		<button type='submit' class='btn btn-danger'>Delete</button>
		</form>
	{% endif %}
  <br clear='all' />

</li>
