{% extends './layout.html' %}
{% block main %}
<div class="well">
	Products Listing
</div>
	<br>
	<form class='well' action="/products" method="POST">
    <div class='form-group'>
      <label for="text_field"> Product to Add:</label>
      <input name="content" type="text" id="text_field" class='form-control' />
    </div>
    <button type="submit" class='btn btn-primary'/>Add item</button>
	</form>
	<ul class='list-group'>
		{% for item in product %}
			{% include './productItem.html' %}	
		{% endfor %}
	</ul>

{% endblock %}
